<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Displaying the content of Access_Records Model</h1>
        <table border="1px">
            <tr><th>Name</th>
                <th>Date</th></tr>
            
                {% for a in access %}
                    <tr><td>{{a.name}}</td>
                    <td>{{a.date}}</td></tr>
                {% endfor %}
        </table>
    </center>
</body>
</html>